html {
    --col-prim-0: #D5E2E8;
    --col-prim-1: #86B890;
    --col-prim-2: #429B94;
    --col-prim-3: #38a69d;
    /*--col-prim-2: #6AA579;*/
    --col-sec-1:  #111133;
    --col-sec-2:  #888888;
}

body {
    background: var(--col-prim-0);
    font-family: monospace;
    font-size: 18px;
    color: var(--col-sec-1);
    margin: 0;
}

#main {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

#header {
    height: 100px;
    background: var(--col-prim-1);
    border-bottom: 1px solid gray;
    z-index: 3;

    display: flex;
}

#thirds {
    display: flex;
    justify-content: center;
}

#sitename {
    font-size: 30px;

    display: flex;
    flex-grow: 1;
    justify-content: center;
}

#logo {
    padding: 10px;
}

#logo img {
    height: 100%;
}

.edge {
    width: 10%;
}

.flat-container {
    box-shadow: 0px 0px 10px #00000050;
    background-color: var(--col-prim-2);
}

#center {
    width: 80%;
    height: 100vh;
    background: var(--col-prim-0);
    z-index: 2;
    padding: 10px;

    display: flex;
    justify-content: center;
}

#memory {
    margin: 5%;
    flex-grow: 1;
    height: 20rem;
    overflow-y: scroll;
    /*padding: 20px;*/
}

table {
    width: 100%;
    border-collapse: collapse;
}

td, th {
    padding: 1rem;
}

thead {
    position: sticky;
    top: 0;
    background-color: var(--col-prim-1);
    color: white;
    box-shadow: 0px 5px 20px #00000050;
    text-align: center;
    border-radius: 0 0 0.5rem 0.5rem;
}

.addr {
    text-align: right;
    font-style: italic;
    padding: 10px;
}

tbody > tr:nth-child(even) {
    background-color: var(--col-prim-3);
}


input[type="text"] {
    color: var(--col-sec-2);
    border: none;
    border-bottom: 2px solid black;
    border-radius: 0.5rem 0.5rem 0 0;
    padding: 0.2rem;
    background: #ffffff30;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    text-align: center;
    width: 100%;
}


#registers {
    margin: 5%;
    flex-grow: 1;
}
